<h2 class="modal-title text-center">Agregar Equipos </h2>
<button type="button" class="close" data-dismiss="modal">X</button>

<div class="row">
    <div class="col-sm-6">
        <h6>Nombe del Equipo:</h6>
        <input type="text" class=" form-control form-control-sm">
    </div>
    <div class="col-sm-6">
        <h6>Marca:</h6>
        <input type="text" class=" form-control form-control-sm">
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <h6>Modelo:</h6>
        <input type="text" class=" form-control form-control-sm">
    </div>
    <div class="col-sm-6">
        <h6>Modelo CMD:</h6>
        <input type="text" class=" form-control form-control-sm">
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h6>Número de Serie:</h6>
        <input type="text" class=" form-control form-control-sm">
    </div>
    <div class="col-sm-6">
        <h6>Número de Serie CMD:</h6>
        <input type="text" class=" form-control form-control-sm">
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <h6>Procesador:</h6>
        <input type="text" class=" form-control form-control-sm">
    </div>
    <div class="col-sm-6">
        <h6>RAM:</h6>
        <input type="text" class=" form-control form-control-sm">
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <h6>Disco Duro:</h6>
        <input type="text" class=" form-control form-control-sm">
    </div>
    <div class="col-sm-6">
        <h6>Cuenta Usuario:</h6>
        <input type="text" class=" form-control form-control-sm">
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <h6>Contraseña Usuario:</h6>
        <input type="text" class=" form-control form-control-sm">
    </div>
    <div class="col-sm-6">
        <h6>Tipo de Computadora:</h6>
        <input type="text" class=" form-control form-control-sm">
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <h6>Fecha de Fabricación:</h6>
        <input type="text" class=" form-control form-control-sm">
    </div>
    <div class="col-sm-6">
        <h6>Nombre del Sistema Operativo:</h6>
        <input type="text" class=" form-control form-control-sm">
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <h6>Tipo del Sistema Operativo :</h6>
        <input type="text" class=" form-control form-control-sm">
    </div>
    <div class="col-sm-6">
        <h6>Dirección MAC:</h6>
        <input type="text" class=" form-control form-control-sm">
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <h6>Email MAC:</h6>
        <input type="text" class=" form-control form-control-sm">
    </div>
</div>

<button type="button" class="btn btn-success" >Guardar</button>