<br>
<nav class="navbar navbar-expand-sm sticky-top container">


    <a class="navbar-brand" [routerLink]="[ 'Principal' ]">
        <img width="150" alt="Kabec Logo" src="assets/img/logo.png" />
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="[ 'IndexResponsiva' ]">Responsivas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="[ 'IndexAccesorio' ]">Accesorios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="[ 'IndexEquipo' ]">Equipos</a>
          </li>
       
        </ul>
    </div>
</nav>